{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="pt-10">
    <div class="container mx-auto" style="direction: rtl; font-family: 'MV boli';">
        <div class="text-center bg-teal-100 p-4 rounded-lg">
            <h1 class="">ކޭސް ވިއު</h1>
        </div>
        <div class="text-3xl pt-8 mb-4">މަހުފޫޒް ވސ. ޝައުފާ</div>
        <div class="lg:grid grid-cols-3 gap-4 md:grid grid-cols-1  gap-4  ">
            <div class="bg-gray-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
            <div class="col-span-2 bg-gray-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
        </div>
        <div class="bg-white border border-indigo-600 mt-8 rounded-lg">
            <div class="text-3xl 8 m-4">ތަފްސީލް</div>
            <p class="p-4">1.	ލެވެލް 9 ގެ ސަނަދަށް ވުރެ މަތީ ސަނަދެއް ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 2 (ދޭއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ،
                2.	ފުރަތަމަ ޑިގްރީއާއެކު މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 5 (ފަހެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ 
                3.	މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 7 (ހަތެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ، 
                4.	ފުރަތަމަ ޑިގްރީ ހާސިލުކޮށްފައިވުމާއެކު، ސީނިއަރ މެނޭޖަމަންޓް ލެވެލްގައި މަދުވެގެން 10 (ދިހައެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން
                ނޯޓް: މަތީގައި ބަޔާކޮށްވާ ސަނަދުތައް ވާންވާނީ ހިއުމަން ރިސޯސް މަނޭޖްމަންޓް ނުވަތަ ބިޒްނަސް އެޑްމިނިސްޓްރޭޝަންނުވަތަ ފައިނޭންސް ނުވަތަ އެކައުންޓިންގ ނުވަތަ ޤާނޫނީ ދާއިރާއިންކުރެ ދާއިރާއެއްގެ ސަނަދަކަށެވެ. 
                </p>
        </div>
        <div class="bg-white border border-indigo-600 mt-8 rounded-lg">
            <div class="text-3xl 8 m-4">ތަފްސީލް</div>
            <p class="p-4">1.	ލެވެލް 9 ގެ ސަނަދަށް ވުރެ މަތީ ސަނަދެއް ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 2 (ދޭއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ،
                2.	ފުރަތަމަ ޑިގްރީއާއެކު މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 5 (ފަހެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ 
                3.	މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 7 (ހަތެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ، 
                4.	ފުރަތަމަ ޑިގްރީ ހާސިލުކޮށްފައިވުމާއެކު، ސީނިއަރ މެނޭޖަމަންޓް ލެވެލްގައި މަދުވެގެން 10 (ދިހައެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން
                ނޯޓް: މަތީގައި ބަޔާކޮށްވާ ސަނަދުތައް ވާންވާނީ ހިއުމަން ރިސޯސް މަނޭޖްމަންޓް ނުވަތަ ބިޒްނަސް އެޑްމިނިސްޓްރޭޝަންނުވަތަ ފައިނޭންސް ނުވަތަ އެކައުންޓިންގ ނުވަތަ ޤާނޫނީ ދާއިރާއިންކުރެ ދާއިރާއެއްގެ ސަނަދަކަށެވެ. 
                </p>
        </div>
        <div class="lg:grid grid-cols-3 gap-4 md:grid grid-cols-1  gap-4 mt-8 text-center">
            <div class="bg-teal-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
            <div class="bg-teal-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
            <div class="bg-teal-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
        </div>
        <div class="bg-white border border-indigo-600 mt-8 rounded-lg">
            <div class="text-3xl 8 m-4">ތަފްސީލް</div>
            <p class="p-4">1.	ލެވެލް 9 ގެ ސަނަދަށް ވުރެ މަތީ ސަނަދެއް ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 2 (ދޭއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ،
                2.	ފުރަތަމަ ޑިގްރީއާއެކު މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 5 (ފަހެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ 
                3.	މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 7 (ހަތެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ، 
                4.	ފުރަތަމަ ޑިގްރީ ހާސިލުކޮށްފައިވުމާއެކު، ސީނިއަރ މެނޭޖަމަންޓް ލެވެލްގައި މަދުވެގެން 10 (ދިހައެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން
                ނޯޓް: މަތީގައި ބަޔާކޮށްވާ ސަނަދުތައް ވާންވާނީ ހިއުމަން ރިސޯސް މަނޭޖްމަންޓް ނުވަތަ ބިޒްނަސް އެޑްމިނިސްޓްރޭޝަންނުވަތަ ފައިނޭންސް ނުވަތަ އެކައުންޓިންގ ނުވަތަ ޤާނޫނީ ދާއިރާއިންކުރެ ދާއިރާއެއްގެ ސަނަދަކަށެވެ. 
                </p>
        </div>
    </div>
</section>
{% endblock %}