{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="pt-10">
    <div class="container mx-auto" style="direction: rtl; font-family: 'MV boli';">
        <div class="text-center bg-teal-100 p-4 rounded-lg">
            <h1 class="">ކޭސް ވިއު</h1>
        </div>
        <div class="text-3xl pt-8 mb-4">އަޙްމަދު އިޙްސާން ވ. ދައުލަތް (މިނިސްޓްރީ އޮފް ހެލްތު) [2016/SC-A/05]</div>
        <div class="lg:grid grid-cols-3 gap-4 md:grid grid-cols-1  gap-4  ">
            <div class="bg-gray-100 p-4 rounded-lg mt-2">ކޭސް ނަން: <strong>އަޙްމަދު އިޙްސާން ވ. ދައުލަތް (މިނިސްޓްރީ އޮފް ހެލްތު)</strong></div>
            <div class=" bg-gray-100 p-4 rounded-lg mt-2">ބާވަތް: <strong>އިހުމާލު، ވަޒީފާ، ކޮންޓްރެކްޓު ބާތިލުކުރުން</strong></div>
            <div class=" bg-gray-100 p-4 rounded-lg mt-2">މި މައްސަލައިގެ ސްޓޭޓަސް: <strong>ލީޑިންގ އޮތޯރިޓީ</strong></div>
        </div>
        <div class="lg:grid grid-cols-5 gap-4 md:grid grid-cols-1  gap-4  ">
            <div class="bg-gray-100 p-4 rounded-lg mt-2">ސައިޓޭޝަން: <strong>އަޙްމަދު އިޙްސާން ވ. ދައުލަތް (މިނިސްޓްރީ އޮފް ހެލްތު)</strong></div>
            <div class=" bg-gray-100 p-4 rounded-lg mt-2">ނަންބަރު: <strong>އިހުމާލު، ވަޒީފާ، ކޮންޓްރެކްޓު ބާތިލުކުރުން</strong></div>
            <div class=" bg-gray-100 p-4 rounded-lg mt-2">ހުށައެޅުނު ތާރީހު: <strong>ލީޑިންގ އޮތޯރިޓީ</strong></div>
            <div class=" bg-gray-100 p-4 rounded-lg mt-2">ރަޖިސްޓަރީވި ތާރީހު: <strong>ލީޑިންގ އޮތޯރިޓީ</strong></div>
            <div class=" bg-gray-100 p-4 rounded-lg mt-2">ނިމުނު ތާރީހު: <strong>ލީޑިންގ އޮތޯރިޓީ</strong></div>
        </div>
        <div class="bg-white border border-indigo-600 mt-8 rounded-lg">
            <div class="text-3xl 8 m-4">މުހިއްމު ޤަވާއިދު:</div>
            <p class="p-4">މައްސަލައިގައި ހުށަހެޅިފައިވާ އެކްސްޕާޓް ރިޕޯޓުތަކުގައި، އަނިޔާލިބުނު ކުއްޖާއަށް ދީފައިވާ ބޭހުގެ ސަބަބުން ކަންފަތުގެ އަޑުއިވުމަށް އަސަރުކުރާ މީހުންގެ 17% މީހުންނަކީ ވަކި ޚާއްޞަ ޖީންއެއް އެ މީހުންގެ ހަށިގަނޑުގައި އެކުލެވޭ މީހުންކަމަށާއި، މިފަދަ މީހުންނަށް އެންމެ ޑޯޒްއަކުންވެސް އަދި ދޭންވާ ޑޯޒްގައި ދެވުނަސް އަޑުއިވުމަށް ދާއިމީ ބަދަލުއަންނަކަމަށާއި، އެ ބޭސް ދޭއިރު ލޭގައި ބޭހުގެ އަސަރު ހުންނަ މިންވަރު ޓެސްޓުކުރުމަކީ ކުރަންޖެހޭ ކަމެއްކަމަށް ބަޔާންކޮށްފައިވޭ.
                ޕްރެކްޓިސްކުރެވޭ ޕްރޮފެޝަނަލް މިންގަނޑުތަކާ އެއްގޮތަށް ކުއްޖާގެ ބަލި ޑައިގްނޯސްކުރުމުގައި ޑޮކްޓަރު ޢަމަލުކޮށްފައިނުވާކަން މައްސަލައިގެ ވާޤިޢާތަކުން އެނގޭ.
                މީގެ އިތުރުން، ހޮސްޕިޓަލުގައި ހުރި ކުއްޖާގެ ރެކޯޑު ޝީޓުތަކަށް ބަދަލުގެނެސްފައިވާކަން ފޮރެންސިކް ތަޙްލީލުތަކުން ޘާބިތުވޭ.
                
                </p>
        </div>
        <div class="bg-white border border-indigo-600 mt-8 rounded-lg">
            <div class="text-3xl 8 m-4">ކަނޑައެޅުންތައް(ratio): </div>
            <p class="p-4">އފ ޑރ. އަޙްމަދު ޢަބްދުﷲ ދީދީ (ޢަބްދުﷲ ޢަރީފް، އާދަމް މުޙައްމަދު ޢަބްދުﷲ ތާއީދުކޮށްފައި):

                3 (ޅ). ޑޮކްޓަރުން ބަލިމީހުން ބަލައި ފަރުވާދިނުމުގައި މެޑިކަލް ޕްރޮފެޝަންގައި ސާބިތުވެ އިސްތިޤްރާރުވެފައިވާ ޢިލްމީ މަބާދިއުތަކާއި އުޞޫލުތަކާއި މިންގަނޑުތަކާ އެއްގޮތަށް ފަރުވާދިނުމަކީ އެ މީހުންގެ މައްޗަށް ލާޒިމުވެގެންވާ ކަމެއްކަމާއި، އެއާ ޚިލާފަށް ޑޮކްޓަރަކު ފަރުވާދިނުމުގެ ސަބަބުން ބަލިމީހާއަށް ލިބޭ ގެއްލުމުގެ މަދަނީ މަސްއޫލިއްޔަތު އެ ޑޮކްޓަރު ތަބާވާ އިދާރާއަކުން، މަދަނީ މަސްއޫލިއްޔަތުގެ ޢާންމު އުޞޫލުތަކާ އެއްގޮތްވާ ގޮތުގެމަތިން އުފުލަންވާނެކަމާއި، މި މަސްއޫލިއްޔަތަކީ ތަޤްޞީރީ މަސްއޫލިއްޔަތު (omissive liability) އެއްކަން ތަފާތު ޖުރިސްޑިކްޝަންތަކުގައި އިސްތިޤްރާރުވެފައިވާ މެޑިކަލް ޕްރޮފެޝަން ޕްރެކްޓިސްކުރުމާބެހޭ އަޙްކާމްތަކަށް ބެލުމުން އެނގޭކަން.
                
                ޢަބްދުﷲ ޢަރީފް (އާދަމް މުޙައްމަދު ޢަބްދުﷲ ތާއީދުކޮށްފައި):
                 
                3 (ކ). لا ضرر ولاضرار މި ނައްޞުންކަމާއި، މި ނައްޞަކީ މުޠުލަޤު ގޮތަކަށް ހުރިހާ ސިފައެއްގައި ގެއްލުން މަނާކުރުމަށް ބާރުއަޅާ، އިސްލާމީ ފިޤުހުގައި އިސްތިޤްރާރުވެފައިވާ ޢާއްމު ފިޤުހީ ޤާޢިދާއެއްކަމާއި، މި ޤާޢިދާއަށް ރިޢާޔަތްކޮށް ނަގައިދެވޭ ގެއްލުމުގެ ބަދަލަކީ ތަޢައްސުފުކޮށް ނެގޭ، ލިބިފައިވާ ޙަޤީޤީ ގެއްލުމަކާ ނުވަތަ ފާއިތުވެދާނޭ މަޞްލަޙަތަކާ ނުވަތަ ފައިދާއަކާ ނުބައްދަލު އެކަށީގެންވާ މިންވަރަށްވުރެ މާބޮޑު ބަދަލަކަށް ވެގެންނުވާނެކަން.
                
                </p>
        </div>
        <div class="lg:grid grid-cols-5 gap-4 md:grid grid-cols-1  gap-4  ">
            <div class="bg-gray-100 p-4 rounded-lg mt-2">އޮބިޓަރ: <strong>އފ ޑރ. އަޙްމަދު ޢަބްދުﷲ ދީދީ (ޢަބްދުﷲ ޢަރީފް، އާދަމް މުޙައްމަދު ޢަބްދުﷲ ތާއީދުކޮށްފައި):</strong></div>
            <div class="bg-gray-100 p-4 rounded-lg mt-2">އޮބިޓަރ: <strong>އފ ޑރ. އަޙްމަދު ޢަބްދުﷲ ދީދީ (ޢަބްދުﷲ ޢަރީފް، އާދަމް މުޙައްމަދު ޢަބްދުﷲ ތާއީދުކޮށްފައި):</strong></div>
            
        </div>
        <div class="lg:grid grid-cols-3 gap-4 md:grid grid-cols-1  gap-4 mt-8 text-center">
            <div class="bg-teal-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
            <div class="bg-teal-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
            <div class="bg-teal-100 p-4 rounded-lg mt-2">ކޭސް ނަންބަރު: <strong>1145ހށ</strong></div>
        </div>
        <div class="bg-white border border-indigo-600 mt-8 rounded-lg">
            <div class="text-3xl 8 m-4">ތަފްސީލް</div>
            <p class="p-4">1.	ލެވެލް 9 ގެ ސަނަދަށް ވުރެ މަތީ ސަނަދެއް ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 2 (ދޭއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ،
                2.	ފުރަތަމަ ޑިގްރީއާއެކު މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 5 (ފަހެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ 
                3.	މާސްޓަރސް ޑިގްރީ ހާސިލުކޮށް، ސީނިއަރ މެނޭޖްމަންޓް ލެވެލްގައި މަދުވެގެން 7 (ހަތެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން. ނުވަތަ، 
                4.	ފުރަތަމަ ޑިގްރީ ހާސިލުކޮށްފައިވުމާއެކު، ސީނިއަރ މެނޭޖަމަންޓް ލެވެލްގައި މަދުވެގެން 10 (ދިހައެއް) އަހަރު ދުވަހުގެ ތަޖުރިބާ ލިބިފައިވުން
                ނޯޓް: މަތީގައި ބަޔާކޮށްވާ ސަނަދުތައް ވާންވާނީ ހިއުމަން ރިސޯސް މަނޭޖްމަންޓް ނުވަތަ ބިޒްނަސް އެޑްމިނިސްޓްރޭޝަންނުވަތަ ފައިނޭންސް ނުވަތަ އެކައުންޓިންގ ނުވަތަ ޤާނޫނީ ދާއިރާއިންކުރެ ދާއިރާއެއްގެ ސަނަދަކަށެވެ. 
                </p>
        </div>
    </div>
</section>
{% endblock %}